section {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    max-width: 1420px;
    margin: 0 auto;
    width: 90%;
}

section:last-of-type {
    margin-bottom: 50px;
}

section img {
    width: 100%;
    height: 100%;
    margin: auto;
    border: double 10px var(--new_color_orange);
    box-sizing: border-box;
}

video {
    width: 100%;
    margin: auto;
    border: double 10px var(--new_color_orange);
    box-sizing: border-box;
}

#div_champis {
    border: double 10px var(--new_color_orange);
    height: 50svh;
    z-index: 9997;
    display: none;
    width: 100%;
    box-sizing: border-box;
}

#active_Champis3D {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px;
    color: white;
    background-color: var(--new_color_gris);
    border: 2px solid var(--new_color_orange);
    border-radius: 5px;
    cursor: pointer;
}

#div_mustang {
    border: double 10px var(--new_color_orange);
    height: 50svh;
    z-index: 9997;
    display: none;
    width: 100%;
    box-sizing: border-box;
}

#active_Mustang3D {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px;
    color: white;
    background-color: var(--new_color_gris);
    border: 2px solid var(--new_color_orange);
    border-radius: 5px;
    cursor: pointer;
}

#div_quantixH3D {
    border: double 10px var(--new_color_orange);
    height: 50svh;
    z-index: 9997;
    display: none;
    width: 100%;
    box-sizing: border-box;
}

#active_QuantixH3D {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px;
    color: white;
    background-color: var(--new_color_gris);
    border: 2px solid var(--new_color_orange);
    border-radius: 5px;
    cursor: pointer;
}