:root {
    --beige: rgb(232, 220, 202);
    /* --marron_foncé: rgb(31, 24, 18); */
    --marron_foncé: rgb(20, 10, 0);
    --orange_font: rgb(235, 146, 31);
    --orange_shadow: rgb(255, 128, 0);

    --new_color_orange: rgb(219, 116, 15);
    --new_color_vert: rgb(27, 40, 21);
    --new_color_beige: rgb(236, 228, 183);
    --new_color_gris: rgb(28, 28, 28);

    --type-heading-h1-font-size: 3rem;
    --type-heading-h2-font-size: 2rem;
    --type-heading-h3-font-size: 1.5rem;
    --type-heading-h4-font-size: 1.25rem;
    --type-heading-h5-font-size: 1.125rem;
    --type-heading-h1-font-size-mobile-max: 2rem;
    --type-heading-h1-font-size-mobile-min: 1.8rem;
    --type-heading-h2-font-size-mobile: 1.6rem;
    --type-heading-h3-font-size-mobile: 1.3rem;
    --type-heading-h4-font-size-mobile: 1.1rem;
}

/* Largeur de la barre de défilement */
::-webkit-scrollbar {
    width: 15px;
}

/* Couleur de la barre de défilement */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px var(--new_color_gris);
    border: solid 10px transparent;

    background-color: transparent;
    /* Couleur de fond de la barre de défilement */
}

/* Couleur de la poignée (thumb) de la barre de défilement */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--new_color_orange);
    border: solid 5px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::selection {
    background-color: var(--new_color_orange);
    /* Couleur de fond de la sélection */
    color: var(--marron_foncé);
    /* Couleur du texte sélectionné */
}

html {
    scroll-behavior: smooth;
    cursor: url('/images/curseur_petit.webp'), auto;
}

/* --------------------------Body--------------------------- */
body {
    border-right: 7px inset var(--new_color_orange);
    border-left: 7px inset var(--new_color_orange);
    border-top: 0px;
    border-bottom: 0px;
    border-style: inset dashed;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Galindo', sans-serif !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--new_color_gris);
    /* background: linear-gradient(to bottom, var(--marron_foncé), black); */
    color: white;
    /* background: linear-gradient(to top, rgba(255, 165, 0), coral); */
    /* background: linear-gradient(to top, rgb(228, 112, 4), rgb(255, 77, 12)); */
    width: calc(100% - 14px);
}

body button {
    font-family: 'Galindo', sans-serif !important;
    cursor: pointer;
}

h1 {
    font-size: var(--type-heading-h1-font-size);
    margin: 0 auto;
    margin-top: 50px;
    text-underline-offset: 5px;
    text-decoration: 3px underline var(--new_color_orange);
}

h2 {}


h3,
.presentationText .statut {
    font-size: var(--type-heading-h3-font-size);
}

h3 {
    text-decoration: underline;
}

h4 {
    font-size: var(--type-heading-h4-font-size);
}

h5 {
    font-size: var(--type-heading-h5-font-size);
}

a {
    color: var(--new_color_orange);
}

@media (max-width: 650px) {
    h1 {
        font-size: var(--type-heading-h1-font-size-mobile-min);
    }

    h2 {
        font-size: var(--type-heading-h2-font-size-mobile);
    }

    h3 {
        font-size: var(--type-heading-h3-font-size-mobile);
    }

    h4 {
        font-size: var(--type-heading-h4-font-size-mobile);
    }
}

h1,
h2,
h3,
h4,
h5,
p {
    text-wrap: balance;
}

.orange {
    color: var(--new_color_orange);
}

.orangeLink {
    color: var(--new_color_orange);
    cursor: pointer;
}

.antiwrap {
    white-space: nowrap;
}

.vague {
    display: inline-block;
    color: var(--new_color_orange);
}

/* Style de chaque lettre */
.vague span {
    display: inline-block;
    transition: color 0.5s;
    white-space: nowrap;
    text-wrap: balance;
}

/* Animation de la couleur : du noir vers l'orange */
@keyframes colorChange {
    0% {
        color: var(--new_color_orange);
    }

    50% {
        color: var(--new_color_gris);
    }

    60% {
        color: var(--new_color_orange);
    }
}

#canvas {
    position: fixed;
    top: 0;
    width: calc(100% - 14px) !important;
    height: 100svh;
    z-index: 9999;
    display: block;
    background-color: var(--new_color_gris);
}

#div_fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--new_color_gris);
    height: 10svh;
    min-height: 90px;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 9998;
    border-bottom: 3px solid var(--new_color_orange);
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.5), 0px -15px 1em rgba(0, 0, 0, 0.5), 0px 5px 5px rgba(0, 0, 0, 0.5), 0px 15px 1em rgba(0, 0, 0, 0.5);
}

#btnTop {
    color: var(--new_color_orange);
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    mix-blend-mode: difference;
}

.animTranslateLeft {
    transform: translateX(-20%);
    transition: all 0.4s;
    opacity: 0;
    width: 100%;
}

.animTranslateRight {
    transform: translateX(20%);
    transition: all 0.4s;
    opacity: 0;
}

@media (max-width: 1200px) {
    .animTranslateRight {
        transform: translateX(-20%);
    }
}

.animTranslateTop {
    transform: translateY(-20%);
    transition: all 0.4s;
    opacity: 0;
}

.animTranslateBottom {
    transform: translateY(20%);
    transition: all 0.4s;
    opacity: 0;
}

.show_aperçu {
    opacity: 1;
    transform: translateX(0);
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

/* --------------------------Header--------------------------- */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0px 15px 10em rgb(37, 9, 9); */
    user-select: none;
    /* border-bottom: 3px dashed var(--beige); */
    position: relative;
    transition: color 3s;
    transition: background-color 0.8s;
    /* height: 100svh; */
    border-bottom: 3px solid var(--new_color_orange);
}

#first {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 100%;
    z-index: 9997;
    padding: 20px;
    box-sizing: border-box;
}

#icon_header_top {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
    padding-right: 15px;
}

#scroll-long-down {
    position: absolute;
    top: 110%;
    width: calc(1.5rem + 1.5vw);
    filter: invert(200%) sepia(500%) saturate(100%) hue-rotate(340deg) brightness(94%) contrast(85%);
    animation: mouse_scroll 1s infinite alternate;
}

@keyframes mouse_scroll {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header .container_profil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--new_color_orange);
    padding-bottom: 25px;
}

header .profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    width: 500px;
}

header .profil img {
    width: 50vw;
    height: 50vh;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    filter: drop-shadow(5px 5px 10px black);
}

header .presentation {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    width: 520px;
}

header .presentationText {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}

header .presentation .presentationText .statut {
    margin-top: 0;
}

header .presentation .presentationText div {
    width: 100%;
    height: 1px;
    border-top: 3px solid white;
}

.commonButton {
    text-decoration: none;
    color: white;
    background-color: rgb(36, 36, 40);
    margin-top: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    display: inline-flex;
    align-items: center;
    box-shadow: 5px 5px 15px 3px black;
    font-size: 16px;
}

.commonButton:hover {
    text-decoration: none;
    border: 2px solid var(--new_color_orange);
    background-color: rgb(46, 46, 50);
}

.commonButton:before {
    content: "\2192";
    font-size: 24px;
    color: var(--new_color_orange);
    margin-right: 10px;
    animation: btn_arrow_story 0.75s alternate infinite;
}

.justButton {
    text-decoration: none;
    color: white;
    background-color: rgb(36, 36, 40);
    margin-top: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    display: inline-flex;
    align-items: center;
    box-shadow: 5px 5px 15px 3px black;
    font-size: 16px;
}

.justButton:hover {
    text-decoration: none;
    border: 2px solid var(--new_color_orange);
    background-color: rgb(46, 46, 50);
}

@keyframes btn_arrow_story {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(5px);
    }

}

@media (max-width: 1200px) {
    .container_profil {
        flex-direction: column;
        width: 100%;
        border-bottom: 0px !important;
    }

    header {
        /* padding: 10% 0; */
        height: initial;
    }

    header .profil,
    header .presentation {
        /* margin: 0 10%; */
        width: 80%;
    }

    header .profil img {
        max-width: 300px;
        max-height: 300px;
    }
}

/* --------------------------Image Profil--------------------------- */

header div#moi_barre {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    /* border-right: 3px solid var(--new_color_orange);
    padding-right: 20px; */
    background-color: transparent;
    perspective: 1000px;
    width: 65px;
    height: 70px;
}

@keyframes flip_text {

    0%,
    25% {
        visibility: visible;
        /* Le premier texte est visible */
    }

    50%,
    75% {
        visibility: hidden;
        /* Le premier texte devient invisible */
    }

    100% {
        visibility: visible;
        /* Le premier texte est visible à nouveau */
    }
}

@keyframes flip_text_bar {

    0%,
    50% {
        background-size: 0% 100%;
        /* Barre vide au début et au milieu */
    }

    25%,
    75% {
        background-size: 100% 100%;
        /* Barre pleine */
    }

    100% {
        background-size: 0% 100%;
        /* Barre vide à la fin */
    }
}

header div#flip_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    animation: flip_profil 20s 2s ease-in-out infinite;
}

@keyframes flip_profil {
    0% {
        transform: rotateY(0deg);
        /* L'image est à l'état initial */
    }

    4% {
        transform: rotateY(180deg);
        /* Rotation rapide vers 180° */
    }

    48% {
        transform: rotateY(180deg);
        /* L'image reste à 180° pendant une bonne partie */
    }

    52% {
        transform: rotateY(0deg);
        /* Retour rapide à l'état initial */
    }

    100% {
        transform: rotateY(0deg);
        /* Longue pause avant de recommencer */
    }
}

#div_moi,
#div_cassetete {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#div_cassetete {
    transform: rotateY(180deg);
}

header img#moi {
    border: 3px solid white;
    border-radius: 50%;
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    max-width: 200px;
    transition: border-color 3s, border-radius 0s;
    animation: 1.5s linear 0s infinite alternate moi_shadow;
}

header img#cassetete {
    border: 3px solid white;
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    transition: border-color 3s, border-radius 0s;
    animation: 1.5s linear 0s infinite alternate moi_shadow;
}

@keyframes moi_shadow {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 1px 1px 1em 3px var(--orange_shadow);
    }
}

/* --------------------------Présentation--------------------------- */
header .moi_orange {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

header .moi_orange h1 {
    display: inline !important;
    color: var(--new_color_orange) !important;
    font-size: var(--type-heading-h2-font-size);
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;
}

/* --------------------------Nav--------------------------- */
header .divLeft {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-right: 5px solid white;
    background-color: var(--new_color_gris);
    min-height: 100%;
    height: 100svh;
    position: fixed;
    padding-top: 0;
    max-width: 100%;
    z-index: 9998;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

#divLeft_filter {
    width: 100%;
    box-sizing: border-box;
}

#divLeft_filter #contentFilter {
    display: none;
    justify-content: center;
    align-items: start;
    overflow: scroll;
    padding: 0;
    margin-top: 100px;
    border-top: 3px solid var(--new_color_orange);
    width: 100%;
    box-sizing: border-box;
}

#divLeft_overview {
    box-sizing: border-box;
    min-width: min-content;
    width: 500px;
    max-width: max(50%, max-content);
}

#divLeft_overview #contentOverview {
    display: none;
    justify-content: center;
    align-items: start;
    padding: 20px;
    margin-top: 100px;
    border-top: 3px solid var(--new_color_orange);
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
}

.cards {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: white 1px solid;
    border-radius: 10px;
    height: 100%;
}

.cards .content {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(0.7rem);
    background: #00000070;
    border: white 1px solid;
    border-radius: 10px;
    width: initial;
    height: calc(100% - 40px);
}


.cards h2 {
    text-decoration: underline var(--new_color_orange);
    text-underline-offset: 5px;
}

.techno {
    margin-top: 50px;
}

.all_tags {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 5px;
}

.tags_cards {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}

.divAccess {
    margin-top: 50px;
}

.AccessContent {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.AccessContent a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 5px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    transition: border 1s;
}

.AccessContent a:hover {
    border: 2px solid var(--new_color_orange);
}

.AccessContent a:hover p {
    color: var(--new_color_orange);
}

ion-icon {
    font-size: 2rem;
    color: white;
}

.AccessContent p {
    font-size: 12px;
    color: white;
    transition: color 0.4s;
}

@media (max-width: 400px) {
    .cards {
        width: 100%;
    }

    #divLeft_nav {
        width: 100%;
        box-sizing: border-box;
    }
}

#MenuBurger_enable {
    margin: 20px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

header nav {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    animation: fadeInDown 1s;
    margin-top: 100px;
    overflow-y: scroll;
    padding: 0 20px;
}

header nav ol {
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0;
}

header nav li {
    list-style: none;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        top: 0;
    }

    to {
        opacity: 1;
        top: -50px;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.change-color {
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: start;
    align-items: start;
}

header nav ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    margin: 10px 0 10px 10px;
    padding: 5px 10px;
}

header nav div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

header nav ul li.container_links {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

header nav ol li.container_links ul {
    display: none;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    border-left: 2px solid var(--new_color_orange);
}

header nav ol ul#Projects_container {
    border-bottom: 1px dashed var(--new_color_orange);
}

header nav ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

header nav ol ul:not(#Projects_container) {
    display: none;
}

header nav ol ul {
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid var(--new_color_orange);
}

header nav .nav_links,
header nav #link_projects {
    display: block;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    padding: 5px 10px;
    cursor: pointer;
}

header nav .nav_links:hover,
header nav #link_projects:hover {
    background-color: white;
    color: var(--new_color_gris) !important;
    /* box-shadow: 0px 0px 1em 0.5px var(--beige); */
    /*  */
}

header nav ion-icon {
    color: white;
    font-size: 2rem;
}

header nav #ion_icon_projects {
    color: var(--new_color_orange);
    font-size: 2rem;
}

header nav img {
    width: 2rem;
    height: 2rem;
}

/* --------------------------Dark-Mode--------------------------- */
.dark-mode header {
    color: var(--marron_foncé);
    background-color: var(--beige);
}


.dark-mode main {
    color: var(--marron_foncé);
    background-color: var(--beige);
}

.dark-mode header #moi {
    border: 3px solid var(--marron_foncé);
}

.dark-mode #scroll-long-down {
    filter: invert(0%) sepia(500%) saturate(100%) hue-rotate(340deg) brightness(94%) contrast(85%);
}

.dark-mode .sticky {
    background-color: var(--beige);
    border: 3px solid var(--new_color_orange);
    border-top: transparent;
}

.dark-mode header nav .nav_links {
    color: var(--marron_foncé);
    /* text-shadow: 1px 1px 10px var(--marron_foncé); */
    /* border-left: 3px solid var(--marron_foncé); */
    text-shadow: var(--marron_foncé);
    animation: none;
    /* border-left: var(--marron_foncé); */
}

.dark-mode header nav .nav_links:hover {
    color: var(--beige);
    /* border: solid 1px var(--marron_foncé); */
    border-color: var(--marron_foncé);
    background-color: var(--marron_foncé);
    /* box-shadow: 1px 1px 1em var(--marron_foncé); */
    box-shadow: 1px 1px 1em var(--marron_foncé);
    animation: 1.5s linear 0s infinite alternate nav_font_shadow;
}

.dark-mode ion-icon,
.dark-mode ion-icon#icon_dark-mode,
.dark-mode ion-icon#language {
    color: var(--marron_foncé);
}

.dark-mode svg {
    filter: invert(0%) sepia(500%) saturate(100%) hue-rotate(340deg) brightness(94%) contrast(85%);
}

.dark-mode #div_language {
    border: 5px solid var(--marron_foncé);
    background-color: rgba(232, 220, 202, 0.35);
}

.dark-mode #div_language ul li a {
    text-decoration: none;
    color: var(--marron_foncé);
}

.dark-mode #btn_apply {
    border: 2px solid var(--marron_foncé);
    color: var(--marron_foncé);
}

.dark-mode #div_language #small {
    color: var(--marron_foncé);
}

.dark-mode #div_language #big {
    color: var(--marron_foncé);
}

.dark-mode #div_language p {
    color: var(--marron_foncé);
}

.dark-mode #first_div {
    background-color: var(--marron_foncé);
    box-shadow: 1px 1px 2em var(--marron_foncé);
    color: var(--beige);
}

.dark-mode button a {
    color: var(--beige);
}

/* --------------------------Icons--------------------------- */
ion-icon#icon_dark-mode {
    width: calc(3rem + 1.5vw);
    height: 50px;
    /* filter: invert(930%) sepia(0%) saturate(0%) hue-rotate(550deg) brightness(100%) contrast(95%);
    filter: invert(200%) sepia(500%) saturate(100%) hue-rotate(340deg) brightness(65%) contrast(85%); */
    /* box-shadow: inset 0px 0px 10em 3px rgb(232, 220, 202); */
    padding: 5px;
    right: 1%;

    color: var(--beige);
    top: 1.5%;
}

/* --------------------------Fonts--------------------------- */
#div_language {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    border-radius: 25%;
    width: 65%;
    height: 45vh;
    backdrop-filter: blur(8px);
    /* background-color: rgba(255, 242, 222, 0.35); */
    /* background-color: rgba(49, 46, 43, 0.35); */
    /* background-color: rgba(29, 27, 26, 0.35); */
    background-color: rgba(27, 23, 20, 0.35);
    border: 5px solid var(--beige);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.interface_language {
    display: none !important;
}

#div_language ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    width: 100%;
    padding: 0;
}

#div_language ul li a {
    text-decoration: none;
    color: var(--beige);
}

#div_language #font_size {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
    margin-top: 100px;
}

#div_language #small {
    margin-right: 50px;
    color: var(--beige);
    font-size: 50px;

}

#div_language #big {
    margin-left: 50px;
    color: var(--beige);
    font-size: 50px;

}

#div_language p {
    color: var(--beige);
    position: absolute;
    font-size: 16px;
}

#div_apply {
    display: flex;
    justify-content: end;
    margin-bottom: -150px;
    margin-top: 100px;
    width: 75%;
}

#btn_apply {
    font-family: 'Galindo', sans-serif !important;
    border: 2px solid var(--beige);
    background-color: transparent;
    color: var(--beige);
    border-radius: 10px;
    font-size: 16px;
    margin-right: 35px;


}

ion-icon#language {
    width: calc(3rem + 1.5vw);
    height: 50px;
    right: 5%;

    color: var(--beige);
    top: 2%;
}

/* ----------------------------------------------------------- */
.div_iframes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.btn_iframes_open {
    display: block;
    position: absolute;
    background-color: var(--new_color_gris);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: var(--type-heading-h4-font-size);
    cursor: pointer;
}

.btn_iframes_close {
    display: none;
    position: fixed;
    margin-top: 3px;
    z-index: 9999;
    background-color: var(--new_color_gris);
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.btn_iframes_open:hover,
.btn_iframes_close:hover {
    color: white;
    border: 2px solid white;
}

.iframes_container {
    overflow: hidden;
    pointer-events: none;
    filter: blur(4px);
}

.container_infosProject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container_infosProject a {
    color: white;
}

.container_infosProject ion-icon {
    font-size: 3rem;
}

.container_tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.tags {
    padding: 7px;
    border-radius: 5px;
    width: fit-content;
    margin: 0;
}

.HTML {
    background-color: #E54C21;
}

.CSS {
    background-color: #254BDE;
}

.JS {
    background-color: #EFD81D;
    color: var(--new_color_gris);
}

.PHP {
    background-color: #6C7AA8;
}

.Markdown {
    background-color: black;
}

.Blender {
    background-color: #EB7700;
}

.Design {
    background-color: purple;
}

.Python {
    background-color: green;
}

.In-Progress {
    background-color: gray;
}

/* --------------------------Footer--------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0px 15px 10em rgb(37, 9, 9); */
    user-select: none;
    width: 100%;
    position: relative;
    transition: color 3s, background-color 0.8s;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    right: 10%;
    border-top: 3px solid var(--new_color_orange);
    width: 90%;
}

footer .infos_footer {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
    width: 90%;
    box-sizing: border-box;
}

footer h5 {
    margin: 20px 0 10px 0;
}

footer nav ul {
    gap: 30px;
    flex-wrap: wrap;
}

footer nav a {
    flex-direction: row-reverse;
}

footer ul {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ion-icon {
    color: white;
    font-size: 2rem;

}

footer nav ion-icon {
    color: white;
    font-size: 1.5rem;

}

footer a {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    transition: all 0.4s;
}

footer a:hover {
    color: white;
}

footer .icon_contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

footer .liens_internes {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    margin: 20px 0;
    padding: 0 10px;
}

footer p {
    text-align: center;
    margin: 0;
}

@media (max-width: 805px) {
    footer .infos_footer {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    footer .copyright {
        flex-direction: column;
    }
}


@media (max-width: 515px) {
    footer nav ul {
        flex-direction: column;
        gap: 0 !important;
    }
}

/* --- Filter Projects --- */
#filter {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 20px;
}

#filter_manage {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 20px;
    gap: 5px;
}

#input_filter_all {
    border: 10px double var(--new_color_gris);
    text-wrap: nowrap;
    border-radius: 10px;
    font-size: 16px;
}

.custom-button input[type="checkbox"] {
    cursor: pointer;
    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
    margin-right: 20px;
}

#filter_manage button,
#filter_manage label {
    height: 65px;
}


/* Style pour le bouton visuel */
.custom-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: center;
    user-select: none;
    box-sizing: border-box;
    border: 10px double var(--new_color_gris);
    border-radius: 10px;
    min-width: 100%;
    transform: scale(1);
    transition: 0.4s all;
}

.active_input {
    transform: scale(0.8);
}

/* Optionnel : style pour le texte dans le bouton */
.button-text {
    display: inline-block;
    text-wrap: nowrap;
    padding: 0 20px;
}

#filter_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
    padding: 0;
}

#preview_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 20px;
    padding: 0;
}

#preview_cards .cards {
    width: 100%;
}

@media (max-width: 1200px) {
    #filter_cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 700px) {
    #filter_cards .cards {
        width: 100%;
    }

    .cards .content {
        width: 50%;
    }
}

/*
#filter_cards li, #preview_cards li {
    position: relative;
    list-style-type: none;
    border: 3px solid white;
    border-radius: 5px;
    overflow: hidden;
}

#filter_cards .infos_cards, #preview_cards .infos_cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-top: 3px dashed var(--new_color_orange);
    position: relative;
    overflow: hidden;
    height: 500px;
}

.infos_cards::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(219, 116, 15, 0.6);
    z-index: 1;
    transition: bottom 0.4s ease-in-out;
}

@media (hover: hover) {
    #filter_cards li:hover .infos_cards::after, #preview_cards li:hover .infos_cards::after {
        bottom: 0;
    }

    .infos_cards .content a:hover {
        background-color: rgb(58, 58, 58);
    }

    #filter_cards li:hover .infos_cards .content a, #preview_cards li:hover .infos_cards .content a {
        border: 3px solid white;
    }
}

.infos_cards > * {
    position: relative;
    z-index: 2;
}

.infos_cards .content a {
    width: fit-content;
    background-color: var(--new_color_gris);
    border: 3px solid var(--new_color_orange);
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s all;
}

#filter_cards li a, #preview_cards li a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.infos_tags ion-icon {
    font-size: 3rem;
    clip-path: circle(40%);
    background-color: var(--new_color_gris);
}

#filter_cards .infos_tags, #preview_cards .infos_tags {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#filter_cards .infos_tags .all_tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin: 0;
    text-align: end;
    box-sizing: border-box;
}

#filter_cards .tags_cards, #preview_cards .tags_cards {
    margin: 0;
}

#filter_cards img, #preview_cards img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    aspect-ratio: 16/9;
} */

@media (max-width: 1130px) {
    #filter {
        display: flex;
        gap: 20px;
    }

    /* #filter_cards, #preview_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 20px;
        padding: 0;
    }

    #filter_cards .infos_cards, #preview_cards .infos_cards {
        height: fit-content;
    } */

    .custom-button {
        min-width: 0;
    }
}

/* @media (max-width: 950px) {
    #filter_cards, #preview_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 20px;
        padding: 0;
    }
} */

@media (max-width: 700px) {
    #filter {
        display: flex;
        flex-direction: column;
    }

    #filter_manage {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        box-sizing: border-box;
    }

    .cards {
        height: initial;
    }

    /* #filter_cards, #preview_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 20px;
        padding: 0;
    }

    #filter_manage button, #filter_manage label {
        width: 100%;
        justify-content: center;
    }

    #filter_cards .infos_tags, #preview_cards .infos_tags {
        padding: 0px;
        margin-top: 20px;
    } */
}